In [1]:
import pandas as pd
import os
import csv
from sqlalchemy import create_engine
import mysql_conn

In [2]:
# read and create dataframe
pokemon_load = 'pokedex.csv'
pokemon_df = pd.read_csv(pokemon_load, encoding= 'utf8')
pokemon_df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [3]:
#rename columns and repositions
pokemon_df = pokemon_df.rename(columns={'#': 'id','Type 1': 'Type_1',
                                    'Type 2': 'Type_2','Sp. Atk': 'Sp_Atk', 
                                    'Sp. Def': 'Sp_Def'})

In [4]:
import pandas as pd
import os
import csv
from sqlalchemy import create_engine
import mysql_conn
from flask import Flask, render_template, jsonify

In [5]:
#non-formated csv
pokemon_df.to_csv("pokemon_mod.csv", encoding='utf8')
pokemon_df.head()

   id        Name Type_1  Type_2  Total  Generation  Legendary
0   1   Bulbasaur  Grass  Poison    318           1      False
1   2     Ivysaur  Grass  Poison    405           1      False
2   3    Venusaur  Grass  Poison    525           1      False
3   4  Charmander   Fire    None    309           1      False
4   5  Charmeleon   Fire    None    405           1      False

Pokemon_go

In [6]:
# read and create dataframe
pokemongo_load = 'pokemongo.csv'
pokemongo_df = pd.read_csv(pokemongo_load, encoding= 'utf8')
pokemongo_df.columns

Index(['id', 'name', 'attack', 'defense', 'health', 'cp', 'tankiness',
       'basicdps', 'chargedps', 'damagepotential', 'attackbasicdps',
       'oneshotpotential', 'attackgrowthrate', 'defensegrowthrate',
       'cpgrowthrate', 'healthgrowthrate', 'healthrank', 'attackrank',
       'defenserank', 'cprank', 'tankgrowthrate', 'tankinessrank'],
      dtype='object')

In [7]:
pokemongo_df = pokemongo_df[['id', 'cp','defenserank','attackrank','healthrank']]
pokemongo_df.head()

   id    cp  defenserank  attackrank  healthrank
0   1   981           80          67          52
1   2  1552          129         120         109
2   3  2568          206         197         185
3   4   831           48          60          28
4   5  1484           92         132         100

In [8]:
pokemongo_df.to_csv("pokemongo_mod.csv",encoding= 'utf8')

In [9]:
#SQL CONNECTION

In [10]:
connection_string = (
   f"root:{mysql_conn.password}@localhost/pokemonsearch?charset=utf8")
engine = create_engine(f'mysql://{connection_string}')

In [11]:
engine.table_names()

['pokedex', 'pokemongo']

In [12]:
pokemon_df.to_sql(
   name='pokedex', con=engine,
   if_exists='append', index=False)

In [14]:
pokemongo_df.to_sql(
   name='pokemongo', con=engine,
   if_exists='append', index=False)