In [7]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
import matplotlib.pyplot as plt
import sklearn
import sklearn.datasets

In [8]:
column_types = {   'a1': 'category',
    'a2': 'category',
    'a3': 'category',
    'a4': 'category',
    'a5': 'category',
    'assist': 'category',
    'away': 'category',
    'away_score': 'int64',
    'block': 'category',
    'converted_x': 'category',
    'converted_y': 'category',
    'data_set': 'category',
    'date': 'category',
    'description': 'category',
    'elapsed': 'category',
    'entered': 'category',
    'event_type': 'category',
    'game_id': 'int64',
    'h1': 'category',
    'h2': 'category',
    'h3': 'category',
    'h4': 'category',
    'h5': 'category',
    'home': 'category',
    'home_score': 'int64',
    'left': 'category',
    'num': 'float32',
    'opponent': 'category',
    'original_x': 'category',
    'original_y': 'category',
    'outof': 'float32',
    'period': 'int64',
    'play_id': 'int64',
    'play_length': 'category',
    'player': 'category',
    'points': 'float32',
    'possession': 'category',
    'reason': 'category',
    'remaining_time': 'category',
    'result': 'category',
    'shot_distance': 'category',
    'steal': 'category',
    'team': 'category',
    'type': 'category'}

optimized_df = pd.read_csv('combined_stats.csv', low_memory=False)

In [9]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

print(f"Total Memory Usage on the new dataFrame :{mem_usage(optimized_df)}")

Total Memory Usage on the new dataFrame :1175.68 MB

In [10]:
optimized_df.columns
test_df = optimized_df[['player_uid', 'converted_x', 'converted_y', 'result']]
test_df.head()

   player_uid converted_x converted_y  result
0         NaN         NaN         NaN     NaN
1    342107.0         NaN         NaN     NaN
2    410587.0        25.1          15    made
3    976411.0        23.2        88.6  missed
4    178457.0         NaN         NaN     NaN

In [11]:
test_df = test_df.dropna(subset=['result'])
test_df.head(25)
#test_df.count()
#test_df.shape

    player_uid converted_x converted_y  result
2     410587.0        25.1          15    made
3     976411.0        23.2        88.6  missed
5     805781.0        46.4        18.8  missed
7     342107.0        11.9        80.7  missed
9     221454.0          24         7.3  missed
11    178457.0        20.3          24    made
13    342107.0         NaN         NaN    made
14    344172.0        46.7        83.4    made
17    791006.0        13.3        85.5    made
18    184660.0        26.1         5.6  missed
20    976411.0        24.5        87.9    made
22    805781.0        25.9        14.1    made
23    976411.0        34.6        64.5  missed
26    344172.0         NaN         NaN    made
27    344172.0         NaN         NaN    made
28    410587.0        25.7         8.1  missed
30    791006.0        39.8        87.5  missed
32    410587.0        14.1        17.1    made
34    184660.0        24.8         6.6    made
35    344172.0        19.7        63.2  missed
40    178457.0        13.3        27.2  missed
42    184660.0        46.8        19.1  missed
46    184660.0        25.5         6.3    made
48    611671.0        34.2        74.7  missed
52    976411.0        36.2          74  missed

In [12]:
values = {'converted_x': 25.0, 'converted_y':15.0}
test_df = test_df.fillna(value=values)

test_df['result'] = test_df['result'].map({'made': 1, 'missed': 0})
test_df.head(25)

    player_uid converted_x converted_y  result
2     410587.0        25.1          15       1
3     976411.0        23.2        88.6       0
5     805781.0        46.4        18.8       0
7     342107.0        11.9        80.7       0
9     221454.0          24         7.3       0
11    178457.0        20.3          24       1
13    342107.0          25          15       1
14    344172.0        46.7        83.4       1
17    791006.0        13.3        85.5       1
18    184660.0        26.1         5.6       0
20    976411.0        24.5        87.9       1
22    805781.0        25.9        14.1       1
23    976411.0        34.6        64.5       0
26    344172.0          25          15       1
27    344172.0          25          15       1
28    410587.0        25.7         8.1       0
30    791006.0        39.8        87.5       0
32    410587.0        14.1        17.1       1
34    184660.0        24.8         6.6       1
35    344172.0        19.7        63.2       0
40    178457.0        13.3        27.2       0
42    184660.0        46.8        19.1       0
46    184660.0        25.5         6.3       1
48    611671.0        34.2        74.7       0
52    976411.0        36.2          74       0

In [13]:
y = test_df['result']
X = test_df[["player_uid", "converted_x", "converted_y"]]

test_df.ftypes
#print(X.shape,y.shape)

player_uid     float64:dense
converted_x     object:dense
converted_y     object:dense
result           int64:dense
dtype: object

In [ ]:
from sklearn.model_selection import train_test_split

#y = pd.get_dummies(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)